.admin .content, .home .content {
    overflow: auto;
    height: calc(100vh - 52rem)
}

.admin .content .card {
    font-size: 1.5rem;
    border-color:lightgray;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.admin .content .card:hover {
    border-color: darkgray;   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}

.bus-item {
    font-size: 2.5rem;
    border-color:lightgray;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.bus-item:hover {
    border-color: darkgray;   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}

.bus-item .img-container {
    width: auto;
}

.bus-item .img-container > img {
    width: 100%;
}

.bus-item .table-container {
    font-size: 1.5rem;
    display: none;
}

.bus-item .table-container.show {
    display: block;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
